<!DOCTYPE html>
<body>
    <!-- This page should redirect you to the OAuth2 login screen. If it doesn't, you probably disabled JavaScript. -->
    <script>
        window.location='<%- loginUrl %>';
    </script>
</body>