<html>
    <head>
        <title>Forbidden</title>
        <style>
            body {
                background-color:rgb(50, 50, 50);
            }
            h0 {
                color:white;
                font-family: Arial, Helvetica, sans-serif;
                left: 0;
                top: 80px;
                margin-bottom: 50px;
                left: 50%;
                position: absolute;
                text-align: center;
                font-size: 100;
                transform: translate(-50%,-50%);
            }
            h1 {
                color:white;
                font-family: Arial, Helvetica, sans-serif;
                left: 0;
                margin-top: 180px;
                position: relative;
                text-align: center;
                width: 100%;
                font-size: 50px;
            }
            h2 {
                color:white;
                font-family: Arial, Helvetica, sans-serif;
                left: 50%;
                line-height: 25px;
                position: relative;
                text-align: center;
                width: max-content;
                top: 30px;
                font-size: 20;
                background-color: #222222;
                border-radius: 5px;
                transform: translate(-50%,-50%);
            }
        </style>

        <body>
            <h0>403</h0>
            <h1>You do not have access to the requested resource.</h1>
            <h2 id='path'></h2>
            <script>document.getElementById('path').innerHTML = `\u200b ${location.pathname} \u200b`</script>
        </body>

    </head>
</html>